@model IEnumerable<MedicalApp.WebApp.Models.DoctorViewModel>

<table class="table table-hover">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td class="text-center">
                    @if (item.IsAvailable)
                    {
                        <span class="badge bg-primary">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Inactivo</span>
                    }
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Edit","Doctor",new {id=item.Id}, "https")','Editar doctor')" class="btn btn-link">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
