@model  MedicalApp.WebApp.Models.SearchAppointmentViewModel

<table class="table table-hover">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                ID
            </th>
            <th>
                Razón
            </th>
            <th>
                Fecha/Hora Inicio
            </th>
            <th>
                Fecha/Hora Fin
            </th>
            <th>
                Clínica
            </th>
            <th>
                Doctor
            </th>
            <th>
                Paciente
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("Details","Clinic",new {id=item.ClinicId}, "https")','Clínica')" href="#">@Html.DisplayFor(modelItem => item.Clinic.Name)</a>
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("Details","Doctor",new {id=item.DoctorId}, "https")','Doctor')" href="#">@string.Format("{0} {1}", item.Doctor.Name, item.Doctor.LastName)</a>
            </td>
            <td>
                <a onclick="showInPopup('@Url.Action("Details","Patient",new {id=item.PatientId}, "https")','Paciente')" href="#">@string.Format("{0} {1}", item.Patient.Name, item.Patient.LastName)</a>
            </td>
            <td>
                @if (item.Status == AppointmentStatus.Programada)
                {
                    <span class="badge badge-warning">@item.Status</span>
                }
                else if (item.Status == AppointmentStatus.Confirmada)
                {
                    <span class="badge badge-primary">@item.Status</span>
                }
                else if (item.Status == AppointmentStatus.Finalizada)
                {
                    <span class="badge badge-success">@item.Status</span>
                }
                else if (item.Status == AppointmentStatus.Cancelada)
                {
                    <span class="badge badge-secondary">@item.Status</span>
                }
            </td>
            <td>
                <a href="#" class="nav-link text-primary" onclick="showInPopup('@Url.Action("Details","Appointment", new { id = item.Id })', 'Detalles de la cita');">Ver detalle</a>
            </td>
        </tr>
        }
    </tbody>
</table>